[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/monkeyWzr/hugo-theme-cactus.git
[submodule "themes/kaktus"]
	path = themes/kaktus
	url = https://github.com/abhijit-hota/kaktus.git
