 
.texto-rojo {
    color: red;
}

.texto-azul {
    color: blue;
}





body {
    background-color: #fff9f7; /* Cambia este valor por el color que prefieras */
}

h1 {
    color: #b62323;
}

.h1 {
    color: #b62323;
}

article .content h2::before {
color: #b62323;
}


#header #nav ul a {
    color: #b62323;
}

section#about {
    font-weight: bold;
}

/* Aplica el filtro por defecto */
#header #logo { 
    filter: none;
    -webkit-filter: none
}

/* Elimina el filtro cuando se pasa el cursor sobre el #header */
#header:hover #logo {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

